extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Blank Page
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Barang
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/barang/add')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Code
									input(type='text',value='#{code}',name='code',placeholder='Enter Code', autofocus).form-control
								.form-group
									label
										| Name
									input(type='text',value='#{name}',name='name',placeholder='Enter Name', autofocus).form-control
								.form-group
									label
										| Merk
									input(type='text',value='#{merk}',name='merk',placeholder='Enter Merk', autofocus).form-control
								.form-group
									label
										| Amount
									input(type='text',value='#{amount}',name='amount',placeholder='Enter Amount').form-control
								.form-group
								label
										| Unit
									input(type='text',value='#{unit}',name='unit',placeholder='Enter Unit', autofocus).form-control
								.form-group
									label
										| price
									input(type='text',name='price',placeholder='Enter Price').form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/barang').btn.btn-primary.pull-right
									| Back